.content{
  margin-left: 200px;
  padding: 1px 16px;
}

.container{
  background-color: var(--gray-700);
  border-radius: 4px;
  padding: .8rem;
  margin-bottom: 1rem;
}

.forms select, .forms textarea{
  width: 100%;
  max-width: 28rem;
  display: block;
  background: var(--gray-900);
  border: 0;
  height: 3rem;
  padding: 1rem;
  border-radius: 4px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: .4rem;

  display: flex;
}

.forms label{
  margin-top: 2rem;
  display: block;
  font-weight: 600;
}

.forms input[type="radio"]{
  margin: 15px 0;
}

.forms input[type="radio"]:not(:first-child){
  margin-left: 15px;
}

.status span{
  padding-left: .5rem;
  font-size: 1rem;
}

.registerBtn{
  width: 100%;
  max-width: 28rem;
}

.forms textarea{
  overflow-y: hidden;
  height: 200px;
  resize: none;

}

@media(max-width: 768px){
  .content{
    margin-left: 0;
  } 
}