.sidebar{
  max-width: 36rem;
  margin: 9rem auto;
  padding: 3rem 1rem;

  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.profile img{
  width: 5rem;
}

.profile strong {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--gray-100);
  line-height: 1;
  font-size: 1.3rem;
}

.profile span {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.sidebar form input {
  width: 90%;
  display: block;
  margin: 0 auto;
  background: var(--gray-700);
  border: 0;
  height: 3rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;

  display: flex;
}

.sidebar form input::placeholder{
  color: var(--gray-400);
}

.line{
  border-top: 1px solid var(--gray-600);
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}

.link{
  margin-top: 1rem;
  text-align: center;
}

.link a{
  text-decoration: none;
  color: var(--green-500);

  transition: opacity 0.1s;
}

.link a:hover{
  opacity: .6;
}

@media (max-width: 768px){
  .sidebar{
    max-width: 90%;
  }
}